$layout-max-width: 1200px;

//Font families
$font-display: 'Playfair-display', Georgia, serif;
$font-text: 'Raleway', Arial, sans-serif;

//Font weights
$font-light: 300;
$font-regular: 400;
$font-bold: 600;

body, html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-display;
}

ul,
p,
a,
form {
  font-family: $font-text;
  font-size: 16px;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: $black;
}

h1 {
  font-size: 72px;
  font-weight: $font-regular;
  margin: 20px 0px;
  color: $gold;
}

h2 {
  font-size: 36px;
  font-weight: $font-regular;
}

h3 {
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  margin: 15px 0px;
  padding-right: 8px;
}

h4 {
  font-size: 18px;
  font-weight: $font-regular;
  color: $gold;
}

h4.h4--italics {
  font-style: italic;
}

h4.h4--uppercase {
  text-transform: uppercase;
}

h5 {
  display: inline-block;
  font-family: $font-text;
  letter-spacing: 2px;
  line-height: 16px;
  font-size: 16px;
}

ul {
  list-style: none;
}

hr {
  border:1px solid $gold;
  background-color: $gold;
}

img {
  width: 100%;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 100px 0px;
}

.white {
  color: $white;
}

.gold {
  color: $gold;
}

.gray {
  color: $gray;
}
