.contact-form {
  background-color: $dark-blue;
  padding: 100px 15px;
}
.contact-form__wrapper {
  width: 70%;
  margin: auto;
  max-width: $layout-max-width;
}

.contact-form__input {
  border: 1px solid $gold;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 15px;
  box-sizing: border-box;
}

.contact-form__title {
  margin-bottom: 50px;
  text-align: center;
  hr {
    margin: auto;
  }
}

.map {
  height: 300px;
}

@media(max-width: 768px) {
  .contact-form__wrapper {
    width: 90%;
  }
}
